{
  "head": {
    "text": "Alert Status: ${ctx.request.body.status.toUpperCase()}",
    "style": {
	    "color": "${ ctx.request.body.status.search(/firing/i) != -1 ? '#FF0000' : '#0D9661'}",
	    "bold": true,
	    "italic": false
	  }
  },
  "body": [
    ${this.generateAlerts(ctx.request.body)}
    {
      "type": "message",
      "text": "Click here to see all alerts",
      "link": "${ctx.request.body.externalURL}"
    }
    ${process.env.GRAFANA_URL ? (',{"type": "message","text": "Click here to open grafana","link": "' + process.env.GRAFANA_URL + '"}') : ''}
    ${process.env.ZOOM_PMI ? (',{"type": "message","text": "Click here to join troubleshooting meeting","link": "https://success.zoom.us/j/' + process.env.ZOOM_PMI + '"}') : ''}
  ]
}